on fs 
    chown system system /dev/goodix_fp #修改字符设备拥有者为system
    chmod 775 /system/bin/gx_fpd


service gx_fpd /system/bin/gx_fpd #启动goodix指纹服务
    class late_start
    user system
    group system
    oneshot

# on property:persist.sys.fp.device=sunwave
#     stop gx_fpd

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system

service ali_client /system/bin/ali_client 1
    class late_start
    user system
    group system
    oneshot
